/* Reset beberapa gaya default browser */
body, h1, h2, p {
  margin: 0;
  padding: 0;
}

p {
  text-align: justify;
}

/* Gaya dasar */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.btn-container {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 1rem;
}

button {
  background-color: #fff; 
  color: #000; 
  padding: 10px 20px; 
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer; 
  font-size: 16px;
}

button:hover {
  background-color: #000; 
  color: #fff; 
}


#space {
  height: 1rem;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: #fff;
}

footer p {
  text-align: center;
}